
input {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #ef802b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 400px;
}

button:hover {
  opacity: 0.8;
}

form {
  background-color: white;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}


.registration, .login-here {
  padding-bottom: 20px;

  a {
    text-decoration: none;
    color: rgb(244, 153, 62);
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}