
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
    background-color: white;
  text-align: center;
  margin: 20px;
  width: 300px;
  height: fit-content;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  img {
  width: fit-content; 
  height: 120px;
}
.cart-btn {
  width: 290px;
}

}
.cart-container, .h3 {
  text-align: center;
}
